[MASTER]
persistent = no
unsafe-load-any-extension = no

[MESSAGES CONTROL]
disable =
	redefined-builtin,
	deprecated-method,
	deprecated-module,

	no-self-use,
	missing-docstring,
	bare-except,
	broad-except,
	unused-variable,
	multiple-statements,

	bad-continuation,
	bad-indentation,
	bad-whitespace,
	fixme,
	global-statement,
	invalid-name,
	protected-access,
	too-few-public-methods,
	too-many-arguments,
	too-many-branches,
	too-many-instance-attributes,
	too-many-lines,
	too-many-locals,
	too-many-public-methods,
	too-many-return-statements,
	too-many-statements,
	unused-argument,
	unused-wildcard-import,
	wildcard-import,

[REPORTS]

# Set the output format. Available formats are text, parseable, colorized, msvs
# (visual studio) and html. You can also give a reporter class, eg
# mypackage.mymodule.MyReporterClass.
output-format=colorized

# Put messages in a separate file for each module / package specified on the
# command line instead of printing them on stdout. Reports (if any) will be
# written in a file name "pylint_global.[txt|html]".
files-output=no

# Tells whether to display a full report or only the messages
reports=no

[FORMAT]
max-line-length = 120

